---
import logo from "#assets/images/logo1.webp";
---

<section class="w-full py-16 px-4 sm:px-6 lg:px-12">
  <h2 class="text-3xl text-center md:text-4xl font-bold mb-12 text-slate-800">
    Where To Find Us
  </h2>
  <div class="max-w-6xl mx-auto overflow-hidden">
    <div
      class="grid grid-flow-col auto-cols-[8rem] sm:auto-cols-[10rem] md:auto-cols-[12rem] gap-6 items-center animate-scroll"
    >
      <img
        src={logo.src}
        loading="lazy"
        alt="Marca Alefoods"
        class="h-10 sm:h-12 md:h-14 w-auto object-contain opacity-80"
      />
      <img
        src={logo.src}
        loading="lazy"
        alt="Marca Alefoods"
        class="h-10 sm:h-12 md:h-14 w-auto object-contain opacity-80"
      />
      <img
        src={logo.src}
        loading="lazy"
        alt="Marca Alefoods"
        class="h-10 sm:h-12 md:h-14 w-auto object-contain opacity-80"
      />
      <img
        src={logo.src}
        loading="lazy"
        alt="Marca Alefoods"
        class="h-10 sm:h-12 md:h-14 w-auto object-contain opacity-80"
      />
      <img
        src={logo.src}
        loading="lazy"
        alt="Marca Alefoods"
        class="h-10 sm:h-12 md:h-14 w-auto object-contain opacity-80"
      />
      <img
        src={logo.src}
        loading="lazy"
        alt="Marca Alefoods"
        class="h-10 sm:h-12 md:h-14 w-auto object-contain opacity-80"
      />
      <img
        src={logo.src}
        loading="lazy"
        alt="Marca Alefoods"
        class="h-10 sm:h-12 md:h-14 w-auto object-contain opacity-80"
      />
      <img
        src={logo.src}
        loading="lazy"
        alt="Marca Alefoods"
        class="h-10 sm:h-12 md:h-14 w-auto object-contain opacity-80"
      />
    </div>
  </div>
</section>
