---
import Footer from "#components/Footer.astro";
import Navbar from "#components/Navbar.astro";
import { ClientRouter } from "astro:transitions";
import backgroundImage from "#assets/images/background.webp";
import "#styles/global.css";
import SEO from "#components/SEO.astro";
import WhatsAppButton from "#components/WhatsAppButton.astro";

interface Props {
  title: string;
  fullWidth?: boolean;
  description?: string;
  image?: string;
  article?: boolean;
  robots?: string;
}

const {
  title,
  fullWidth = false,
  description = "Alefoods offers premium cooked quinoa and Peruvian coffee ready to enjoy. Healthy, natural, and 100% Peruvian products.",
  image,
  article,
  robots = "index,follow",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <SEO
      title={title}
      description={description}
      image={image}
      article={article}
      robots={robots}
    />

    <link
      rel="preload"
      href={backgroundImage.src}
      as="image"
      fetchpriority="high"
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
      rel="stylesheet"
    />

    <ClientRouter />

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": "Alefoods",
        "url": "https://www.alefoods.pe",
        "logo": "https://www.alefoods.pe/images/logo1.webp",
        "description": "Export of cooked quinoa and Peruvian coffee.",
        "contactPoint": {
          "@type": "ContactPoint",
          "telephone": "+51-932-120-023",
          "contactType": "sales",
          "areaServed": ["PE"],
          "availableLanguage": ["English", "Spanish"]
        },
        "sameAs": [
          "https://www.facebook.com/alefoodsperu",
          "https://www.tiktok.com/@irides.pe",
          "https://www.instagram.com/irides.pe"
        ]
      }
    </script>
  </head>
  <body class="font-sans bg-body-bg">
    <Navbar />
    <main>
      {
        fullWidth ? (
          <slot />
        ) : (
          <div class="mx-auto w-full max-w-7xl px-4 sm:px-6 lg:px-8">
            <slot />
          </div>
        )
      }
      <WhatsAppButton />
    </main>
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
